<% provide(:title, "ログイン")%>
<div class="row">
  <div class="col-md-6 col-md-offset-3 jumbotron jumbotron-css login-form">
    <p class="center">
      <%= image_tag 'avater.png', class: 'avater' %>
    </p>
    <h3 class="en center"><i class="fas fa-door-open"></i>login</h3>
    <%= form_for(:session, url: login_path) do |f| %>
    
      <%= f.label :email, class: "en" %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password, class: "en" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.submit "login", class: "btn btn-primary en login-btn " %>
    <% end %>
    <h5 class="center">ユーザー登録がまだの場合は<%= link_to "こちら", new_user_path %>から登録</h5>
  </div>
</div>