<% provide(:title, @user.name) %>
<div class="title-top center">
  <%= image_tag 'profile.png', class: 'show-image' %>
  <h1 class="center en">My page</h1>
</div>
<div class="row">
  <div class="flex">
    <div class="col-md-3 profile-panel">
      <h3 class="panel-title"><i class="fas fa-address-card"></i>氏名</h3>
      <p class="panel-contents"><%= @user.name %></p>
    </div>
    <div class="col-md-3 profile-panel">
      <h3 class="panel-title"><i class="fas fa-building"></i>派遣先</h3>
      <p class="panel-contents"></p>
    </div>
    <div class="col-md-3 profile-panel">
      <h3 class="panel-title"><i class="fas fa-users"></i>所属案件</h3>
      <p class="panel-contents"><%= @user.department.present? ? @user.department : "未設定" %></p>
    </div>
    <div class="col-md-3 profile-panel">
      <h3 class="panel-title"><i class="fas fa-handshake"></i>雇用形態</h3>
      <p class="panel-contents"></p>
    </div>
  </div>
</div>
<div class="edit-btn center-item flex">
  <%= link_to "勤怠一覧", user_attendances_path(params: {id: @user.id}), class: " btn btn-primary attendance-update"%>
  <%= link_to "交通費一覧", user_attendances_path(params: {id: @user.id}), class: "btn btn-primary attendance-update"%>
  <%= link_to "ユーザー情報を更新", edit_user_path(current_user), class: "btn btn-primary attendance-update"%>
</div>