<% provide(:title, @user.name) %>

<h1 class="center"><%= @user.name %></h2>
<div>
  <table class="table-bordered table-condensed user-info">
    <tr>
      <td>氏名：<%= @user.name %></td>
      <td>派遣先名: </td>
      <td>所属案件: <%= @user.department.present? ? @user.department : "未設定" %></td>
      <td>計算期間:<%=@first_day.to_s(:date)%>～<%=@last_day.to_s(:date)%></td>
    </tr>
  </table>

</div>
<p><%= link_to "勤怠一覧", user_attendances_path(params: {id: @user.id}), class: "btn btn-primary attendance-update"%></p>
<p><%= link_to "交通費", user_attendances_path(params: {id: @user.id}), class: "btn btn-primary attendance-update"%></p>
<p><%= link_to "ユーザー情報更新", edit_user_path(current_user), class: "btn btn-primary attendance-update"%></p>
